.header {
  width: 100%;
  border-bottom: 1px solid #eee;
  background-color: rgba(255, 255, 255, 0.4);
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(40px);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
}

.nav {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-size: 16px;
  text-decoration: none;
  padding: 10px 0;
  position: relative;
  color: black;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-link.active {
  color: #7b00ff;
  font-weight: bold;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #7b00ff;
}
